{#
 # Prints the argument with its full name.
 # The result is "<<fullArgumentName>>".
 #
 # @tparam string[] colors The list of colors
 # @tparam CommandArgument argument The command argument
 #}

{# Fetch the argument color #}
{(lua/config/templates/TextTemplate/CommandHandler/ArgumentColor.template,
  { colors = colors, argument = argument }
)}

{# Print the argument #}
<{* argument:getName() *}>
