{#
 # Exception message that will be printed to players.
 #
 # @tparam string[] colors The list of colors
 # @tparam string exceptionMessage The exception message
 #}

########################[CONFIG]########################;
{# With the default font config "[ERROR] " is 312 pixels wide and 10x " " is 310 pixels wide #}
newLineIndent = "          ";
#######################[ENDCONFIG]######################;

{* colors.error *}[ERROR] {* exceptionMessage *}
