{#
 # Prints the argument color based on whether the argument is optional or required.
 #
 # @tparam string[] colors The list of colors
 # @tparam CommandArgument argument The command argument
 #}

{% if (argument:getIsOptional()) then %}
  {* colors.optionalArgument *}
{% else %}
  {* colors.requiredArgument *}
{% end %}
